{
    "extends": [
        "stylelint-config-html"
    ],
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "declaration-no-important": true,
        "order/order": [
            "custom-properties",
            "at-rules",
            "declarations",
            "rules"
        ],
        "order/properties-alphabetical-order": [
            true,
            { "severity": "warning" }
        ],
        "selector-max-id": 0
    }
}
