{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-html"
    ],
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/order": [
            "custom-properties",
            "at-rules",
            "declarations",
            "rules"
        ],
        "order/properties-alphabetical-order": [
            true,
            { "severity": "warning" }
        ],
        "import-notation": "string",
        "declaration-no-important": true,
        "selector-max-id": 0,
        "selector-class-pattern": null,
        "hue-degree-notation": "number",
        "custom-property-empty-line-before": null
    }
}
