:root {
    /* Color values are specified as a space-separated list of HSL values. */
    --color-brand: 203 90% 39%;
    --color-text: 0 0% 80%;
    --color-background: 0 0% 13%;
    --color-neutral-100: 0 0% 95%;
    --color-link: 29 92% 46%;
    --color-focus: 203 90% 39%;

    --type-font-family: 'Belgrano', serif;
    --type-font-family-title: 'Anton', sans-serif;

    --type-scale: 1.414; /* Augmented 4th */
    --type-max-line-length: 65ch;

    --type-font-size: 1.5rem;
    --type-font-size-s: calc(var(--type-font-size) / var(--type-scale));
    --type-font-size-h3: calc(var(--type-font-size) * var(--type-scale));
    --type-font-size-h2: calc(var(--type-font-size-h3) * var(--type-scale));
    --type-font-size-h1: calc(var(--type-font-size-h2) * var(--type-scale));

    --gutter: 1.25rem;
    --gutter-s: calc(var(--gutter) / var(--type-scale));
    --gutter-m: calc(var(--gutter) * var(--type-scale));
    --gutter-l: calc(var(--gutter-m) * var(--type-scale));
    --gutter-xl: calc(var(--gutter-l) * var(--type-scale));

    --gutter-clamp-l: clamp(var(--gutter-m), 4vw, var(--gutter-l));
    --gutter-clamp-xl: clamp(var(--gutter-m), 5vw, var(--gutter-xl));

    --animation: 150ms ease-in-out;
    --border-radius-s: 0.125rem;
    --border-radius-m: 0.25rem;
}
