/*
----------------------------------------------------------------------------
CSS Reset.

See:
Eric Meyer = https://meyerweb.com/eric/tools/css/reset/
Andy Bell = https://hankchizljaw.com/wrote/a-modern-css-reset/
Josh Comeau = https://www.joshwcomeau.com/css/custom-css-reset/
Kilian Valkhof = https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
----------------------------------------------------------------------------
*/
html {
    accent-color: hsl(var(--color-brand));
    color-scheme: dark;
    text-size-adjust: none;
}

:where(*, *::after, *::before) {
    box-sizing: border-box;
}

* {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

:is(html, body) {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-text));
    min-block-size: 100dvb;
}

:is(ol, ul)[class] {
    list-style: none;
}

:is(ol, ul):not([class]) {
    padding-inline-start: var(--gutter-l);
}

img {
    block-size: auto;
    display: block;
    max-inline-size: 100%;
}

:is(audio, video) {
    inline-size: 100%;
    opacity: 0.6;
    transition: opacity var(--animation);
}

:is(audio, video):hover,
:is(audio, video):focus {
    opacity: 1;
}

svg {
    flex-shrink: 0;
    max-inline-size: 100%;
}

a {
    appearance: none;
    color: hsl(var(--color-link));
    cursor: pointer;
    -webkit-tap-highlight-color: hsl(0 0% 0% / 0%);
}

a:hover {
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    :is(html, body) {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        /* stylelint-disable declaration-no-important */
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

/*
----------------------------------------------------------------------------
Typography.

Fluid type calculator = https://chrisburnell.com/clamp-calculator/
----------------------------------------------------------------------------
*/
body {
    font-family: var(--type-font-family);
    font-size: clamp(1rem, 0.75rem + 0.833vw, var(--type-font-size));
    line-height: 1.5;
}

:where(h1, h2, h3, [class*='h--']) {
    font-family: var(--type-font-family-title);
    line-height: 1.2;
    text-align: center;
}

:where(h1, .h--1) {
    font-size: clamp(var(--type-font-size-h2), 1.677rem + 2.5vw, var(--type-font-size-h1));
}

:where(h2, .h--2) {
    font-size: clamp(var(--type-font-size-h3), 1.036rem + 1.545vw, var(--type-font-size-h2));
    margin-block-end: var(--gutter);
}

:where(h3, .h--3) {
    font-size: clamp(1rem, 0.75rem + 0.833vw, var(--type-font-size-h3));
    margin-block-end: var(--gutter);
}


:where(p, :is(ul, ol):not([class])) {
    margin-block-end: var(--gutter);
}

:is(p, li):not([class]) {
    max-inline-size: var(--type-max-line-length);
}

small {
    font-size: var(--type-font-size-s);
}

figcaption {
    font-size: var(--type-font-size-s);
    font-style: italic;
}

/*
----------------------------------------------------------------------------
:focus.
----------------------------------------------------------------------------
*/
:focus-visible {
    box-shadow: 0 0 0 0.25rem hsl(var(--color-focus));
    outline: 0.25rem solid transparent;
}

:focus:not(:focus-visible) {
    outline: 0.25rem solid transparent;
}
