/*
----------------------------------------------------------------------------
Reset.

See:
Eric Meyer = https://meyerweb.com/eric/tools/css/reset/
Andy Bell = https://hankchizljaw.com/wrote/a-modern-css-reset/
Josh Comeau = https://www.joshwcomeau.com/css/custom-css-reset/
Kilian Valkhof = https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
----------------------------------------------------------------------------
*/
html {
    accent-color: var(--color-brand);
    color-scheme: light dark;
    text-size-adjust: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html,
body {
    background-color: var(--color-background);
    color: var(--color-text);
    min-block-size: 100dvb;
}

ol[class],
ul[class] {
    list-style: none;
}

ol:not([class]),
ul:not([class]) {
    padding-inline-start: var(--gutter-l);
}

img {
    block-size: auto;
    display: block;
    max-inline-size: 100%;
}

/* @media (prefers-color-scheme: dark) {
    img {
        opacity: 0.8;
        transition: opacity var(--animation);
    }

    img:hover {
        opacity: 1;
    }
} */

svg {
    flex-shrink: 0;
    max-inline-size: 100%;
}

button,
a {
    appearance: none;
    cursor: pointer;
    -webkit-tap-highlight-color: hsl(0 0% 0% / 0%);
}

button > * {
    pointer-events: none;
}

a:not([class]) {
    color: inherit;
}

a:not([class]):hover {
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        /* stylelint-disable declaration-no-important */
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

/*
----------------------------------------------------------------------------
Typography.
----------------------------------------------------------------------------
*/
@font-face {
    font-display: swap;
    font-family: 'FFF_Tusj';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FFF_Tusj-webfont.woff') format('woff');
}

html {
    font-size: var(--type-font-size);
}

body {
    /* @include fluid-type; */
    font-family: var(--type-font-family);
    line-height: 1.5;
}

h1,
h2,
h3,
[class*='h--'] {
    font-family: var(--type-font-family-title);
    line-height: 1.2;
    text-align: center;
}

h1,
.h--1 {
    /* @include fluid-type($font-size-h2, $font-size-h1, $line-height-h1); */
    font-size: var(--type-font-size-h1);
    margin-block-end: var(--gutter-clamp-l);
}

h2,
.h--2 {
    /* @include fluid-type($font-size-h3, $font-size-h2, $line-height-h2); */
    font-size: var(--type-font-size-h2);
    margin-block-end: var(--gutter);
}

h3,
.h--3 {
    /* @include fluid-type($font-size-h4, $font-size-h3, $line-height-h3); */
    font-size: var(--type-font-size-h3);
    margin-block-end: var(--gutter);
}


p,
ul:not([class]),
ol:not([class]) {
    margin-block-end: var(--gutter);
}

p:not([class]),
li:not([class]) {
    max-inline-size: var(--type-max-line-length);
}
