/*
----------------------------------------------------------------------------
Print stylesheet
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Basic reset.
----------------------------------------------------------------------------
*/
@page {
    margin: 10pt;
}

* {
    /* stylelint-disable-next-line declaration-no-important */
    background: none !important;
}

body {
    color: #000;
    font-family: sans-serif;
    font-size: 10pt;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 12pt;
}

:is(h1, h2, h3, p, li) {
    margin-block-end: 5pt;
}

a {
    color: inherit;
    text-decoration: underline;
}

a + a {
    margin: 0 10pt;
}

[href]:after {
    content: '(' attr(href) ')';
}

:is([href='/'], [href='#']):after {
    content: '';
}

:is(h1, h2,h3) {
    page-break-after: avoid;
}

p {
    orphans: 3;
    widows: 3;
}

/*
----------------------------------------------------------------------------
Hide.
----------------------------------------------------------------------------
*/
:is(img, audio, video) {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}
