---
import '../styles/index.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="basher | front-end web developer & accessibility advocate">
        <main class="main">
            <div class="wrapper">
                <h1>
                    Kevin Bonett (aka basher)<br/>
                    <span class="brand">front-end web developer</span> and <span class="brand">accessibility advocate</span><br/>
                    &hellip;and former <a href="#rockstar">rock star</a>
                </h1>
            </div>

            <div class="wrapper wrapper--s">
                <h2>Why &ldquo;basher&rdquo;?</h2>
                <p>I'm glad you asked. &ldquo;basher&rdquo; is an old school nickname that's pretty much stuck.
                For many years I was an aspiring rock star, thrashing my drums on sweaty stages for many bands, but mainly for UK rockers <a href="#rockstar">bushbaby</a>.<p>
                <p>As a sideline, I combined my artistic creativity &amp; background in computers by building websites for local bands,
                teaching myself the fundamentals of web design, and experiencing the joys of browser testing in Netscape!
                But I've left those &ldquo;hobbyist&rdquo; days behind me now&hellip; I've been a full-time front-end web developer since 2007.</p>
            </div>
        </main>

        <aside>
            <div class="wrapper">
                <h2>Socials</h2>
            </div>
        </aside>
</Layout>
