---
import '../styles/index.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="basher | front-end web developer & accessibility advocate">
        <main class="main">
            <div class="wrapper">
                <h1>
                    kevin bonett<br/>
                    <span class="brand">front-end web developer</span> and <span class="brand">accessibility advocate</span><br/>
                    &hellip;and former <a href="#rockstar">rock star</a>
                </h1>
            </div>

            <div class="wrapper wrapper--s">
                <h2>who's &ldquo;basher&rdquo;?</h2>
                <p>I'm glad you asked.</p>
                <p>&ldquo;basher&rdquo; is an old school nickname that's pretty much stuck.
                For many years I was an aspiring rock star, thrashing my drums on sweaty stages for many bands, but mainly for UK rockers <a href="#rockstar">bushbaby</a>.<p>
                <p>As a sideline, I combined my artistic creativity and background in computers by building websites for local bands,
                teaching myself the fundamentals of web design, and experiencing the joys of browser testing in IE5 and Netscape!
                But I've left those &ldquo;hobbyist&rdquo; days far behind me now&hellip; I've been a full-time front-end web developer since 2007.</p>

                <h3>what I do</h3>
                <p>Stuff about progressive enhancement / a11y / etc...</p>
                <ul>
                    <li>Boilerplate</li>
                    <li>CSS Tricks</li>
                </ul>
            </div>

            <div class="wrapper wrapper--fullbleed">
                <h2 id="rockstar">rock star</h2>
            </div>
        </main>

        <aside>
            <div class="wrapper wrapper--s">
                <h2>socials</h2>
                <ul>
                    <li>Github</li>
                    <li>Codepen</li>
                    <li>LinkedIn</li>
                    <li>Intagram - cars</li>
                </ul>
            </div>
        </aside>
</Layout>
