---
import Layout from '../layouts/Layout.astro';
---

<Layout title="basher | front-end web developer & accessibility advocate">
    <main>
        <h1>
            <span>kev bonett (aka basher)</span>
            front-end web developer &amp; accessibility advocate
            <span>&hellip;and former <a href="#rockstar">rock star</a></span>
        </h1>
    </main>
</Layout>
