---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import DropCap from '../components/DropCap.astro';
import Work from '../components/Work.astro';
import Rockstar from '../components/Rockstar.astro';
import Socials from '../components/Socials.astro';
---

<Layout title="basher | senior ux engineer & web accessibility advocate">
    <main class="main stack stack--gutter-xl">
        <div class="wrapper wrapper--fullbleed skin-1">
            <h1>
                <span class="u-brand">
                    senior ux engineer
                </span>
                and
                <span class="u-brand">
                    web accessibility advocate
                </span>
                <span class="rockstar">
                    &hellip;and former
                    <a href="#rockstar">rock star</a>
                </span>
            </h1>
        </div>

        <div class="wrapper wrapper--s">
            <Title headingLevel="2" headingText="so who is &ldquo;basher&rdquo;?" />
        </div>

        <div class="wrapper">
            <div class="prose stack columns">
                <p>
                    <DropCap letter="i" text="I'm glad you asked." />

                    &ldquo;basher&rdquo; is an old school nickname that's pretty much stuck. For many years I was an aspiring rock star, thrashing my drums on sweaty stages for many bands, but mainly for UK rockers <a href="#rockstar">bushbaby</a>.
                <p>
                <p>As a sideline, I combined my artistic creativity and background in computers by building websites for local bands,
                teaching myself the fundamentals of web design, and experiencing the joys of browser testing in IE5 and Netscape!</p>
                <p>But I've left those &ldquo;hobbyist&rdquo; days far behind me&hellip;</p>
            </div>
        </div>

        <div class="wrapper wrapper--s">
            <Title headingLevel="2" headingText="what do I do now?" />
        </div>

        <div class="wrapper">
            <div class="prose stack columns">
                <p>
                    <DropCap letter="f" text="full-time front-end" />

                    web development and web accessibility advocacy since 2007.
                </p>
                <p>I enjoy solving problems to deliver rich and performant user experiences to as many people as possible, irrespective of their ability or situation.</p>
                <p>I'm also passionate about keeping things simple by leveraging the native web platform whenever possible, working with design systems, and building component libraries to improve code quality and overall developer experience.</p>
            </div>
        </div>

        <div class="wrapper wrapper--s">
            <Title headingLevel="3" headingText="what exactly is a &ldquo;ux engineer&rdquo;?" />
        </div>

        <div class="wrapper">
            <div class="prose stack columns">
                <p>
                    <DropCap letter="t" text="To put it simply," />

                    a UX engineer is a front-end developer who understands design thinking and design principles&mdash;bridging the gap between designers and developers.
                </p>
                <p>UX engineers often focus on the technical aspects of design systems&mdash;prototyping, building re-usable &amp; accessible UI components, and establishing robust CSS architectures.</p>
            </div>
        </div>

        <Work />
        <Rockstar />
    </main>

    <Socials />
</Layout>

<style>
    .wrapper--fullbleed.skin-1 {
        --skin-gutter-offset: var(--gutter-l);
    }

    h1 {
        text-wrap: balance;
    }

    h1 a {
        text-underline-offset: unset;
    }

    .rockstar {
        display: block;
    }
</style>
