---
import type { HTMLTag } from 'astro/types';

interface Props {
    text: string;
    letter: string;
}

const { text, letter } = Astro.props;
const SpanElement = 'span' as HTMLTag;
---

<SpanElement class:list={['drop-cap']} data-drop-cap={letter}>
    <span>{letter}</span>{text}
</SpanElement>

<style>
    .drop-cap {
        font-variant: small-caps;
        letter-spacing: .1em;

        span {
            float: left;
            font-family: var(--type-font-family);
            font-size: var(--type-font-size-xl);
            font-weight: 700;
            line-height: 1;
            margin-block-end: -0.25em;
            margin-inline-end: var(--gutter-s);
            transform: translateY(-0.25em);
        }
    }
</style>
