---
const date = new Date();
const year = date.getFullYear();
---

<footer class="footer wrapper wrapper--fullbleed">
    <small>
        &copy;{year} basher.
        Built with vanilla HTML &amp; CSS.
        Powered by <a href="https://astro.build/">Astro</a>.
        Hosted by <a href="https://pages.github.com/">GitHub Pages</a>.
    </small>
</footer>

<style>
    .footer {
        padding: var(--gutter-m);
    }
</style>
