<footer class="footer wrapper wrapper--s">
    <small>
        &copy;2023 basher.
        Built with plain vanilla HTML &amp; CSS.
        Powered by <a href="https://astro.build/">Astro</a>.
        Hosted by <a href="https://pages.github.com/">GitHub Pages</a>.
    </small>
</footer>
