---
import { Image } from 'astro:assets';
import logo from '../images/logo.webp';
---

<header class="header">
    <a href="/" class="header__logo">
        <Image src={logo} alt="basher home" loading="eager" />
    </a>
</header>

<style>
    .header {
        margin-block-end: calc(var(--gutter-clamp-xl) * -1);
        padding-block-start: var(--gutter-clamp-l);
        padding-inline: var(--gutter-clamp-l);
        text-align: center;
    }

    .header__logo {
        display: inline-block;
    }
</style>
