<header class="header">
  <a href="/" class="header__logo">
      <img src="images/logo.png" alt="basher home" width="280" height="120" />
  </a>
</header>

<style>
    .header {
        padding: var(--gutter-clamp-l);
    }

    .header__logo {
        display: inline-block;
    }
</style>
