---
import { Image } from 'astro:assets';
import logo from '../images/logo.webp';
---

<header class="header__container">
    <div class="header">
        <a href="/" class="header__logo">
            <Image src={logo} alt="basher home" loading="eager" />
        </a>
    </div>
</header>

<style>
    .header__container {
        @supports (container-type: scroll-state) {
            container-name: sticky;
            container-type: scroll-state;
            inset-block-start: calc(var(--sticky-height) * -1);
            position: sticky;
            z-index: 1;
        }

        margin-block-end: calc(var(--gutter-clamp-xl) * -1);
    }

    .header {
        --animation-delay: 50ms;

        align-items: center;
        background-color: var(--color-background);
        background-image: url('/images/texture.webp');
        display:flex;
        justify-content: center;
        padding-block-start: var(--gutter-clamp-l);
        padding-inline: var(--gutter-clamp-l);
        transition: max-block-size var(--animation-slow), padding var(--animation-slow), translate var(--animation-slow);
        transition-behavior: allow-discrete;
        transition-delay: var(--animation-delay);

        /* stylelint-disable-next-line order/order */
        @container sticky scroll-state(stuck: top) {
            border-block-end: var(--border-width) solid oklch(from var(--color-brand) l c h / 0.2);
            max-block-size: var(--sticky-height);
            padding-block-start: 0;
            position: relative;
            translate: 0 var(--sticky-height);

            &::after {
                animation: progress;
                animation-delay: var(--animation-delay);
                animation-timeline: scroll(block root);
                background-color: var(--color-brand);
                block-size: var(--border-width);
                content: '';
                inline-size: 0;
                inset-block: calc(var(--sticky-height) - var(--border-width));
                inset-inline: 0;
                position: absolute;
                transform-origin: 0;
            }
        }
    }

    .header__logo {
        display: inline-block;
        transition: transform var(--animation-slow);
        transition-delay: var(--animation-delay);

        /* stylelint-disable-next-line order/order */
        @container sticky scroll-state(stuck: top) {
            transform: scale(0.5);
        }
    }

    @keyframes progress {
        100% {
            inline-size: 100%;
        }
    }
</style>
