---
import { Image } from 'astro:assets';
import logo from '../images/logo.webp';
---

<header class="header__container">
    <div class="header">
        <a href="/" class="header__logo">
            <Image src={logo} alt="basher home" loading="eager" />
        </a>
    </div>
</header>

<style>
    .header__container {
        @supports (container-type: scroll-state) {
            container-type: scroll-state;
            inset-block-start: calc(var(--sticky-scroll) * -1);
            position: sticky;
            z-index: 1;
        }

        margin-block-end: calc(var(--gutter-clamp-xl) * -1);
    }

    .header {
        align-items: center;
        background-color: var(--color-background);
        background-image: url('/images/texture.webp');
        display:flex;
        justify-content: center;
        padding-block-start: var(--gutter-clamp-l);
        padding-inline: var(--gutter-clamp-l);
        transition: all var(--animation-slow);
        transition-behavior: allow-discrete;

        /* stylelint-disable-next-line order/order */
        @container scroll-state(stuck: top) {
            border-block-end: var(--border-width) solid oklch(from var(--color-brand) l c h / 20%);
            max-block-size: var(--sticky-height); /* Enough to contain logo at 0.5 scale */
            padding-block-start: 0;
            translate: 0 var(--sticky-scroll);

            .header__logo {
                transform: scale(0.5);
            }
        }
     }

    .header__logo {
        display: inline-block;
    }
</style>
