<header class="header">
  <a href="/" class="header__logo">
      <img src="images/logo.png" alt="basher home" width="255" height="118" />
  </a>
</header>

<style>
    .header {
        padding-block-start: var(--gutter-clamp-l);
        padding-inline: var(--gutter-clamp-l);
        text-align: center;
    }

    .header__logo {
        display: inline-block;
    }

    @media (prefers-color-scheme: dark) {
        .header__logo {
            background: hsl(var(--color-brand) / 20%);
            padding: var(--gutter-s);
        }
    }
</style>
