<header class="header">
  <a href="/" class="header__logo">
      <img src="images/logo.webp" alt="basher home" width="235" height="140" />
  </a>
</header>

<style>
    .header {
        padding-block-start: var(--gutter-clamp-l);
        padding-inline: var(--gutter-clamp-l);
        text-align: center;
    }

    .header__logo {
        display: inline-block;
    }
</style>
