---
import { Image } from 'astro:assets';
import basher from '../images/basher.webp';
import Title from '../components/Title.astro';
---

<div class="wrapper wrapper--fullbleed">
    <div class="stack stack--gutter-xl">
        <div class="wrapper wrapper--fit-content">
            <Title headingLevel="2" headingText="rock star" id="rockstar" tabindex="-1" />
        </div>

        <p class="u-center">
            <Image src={basher} alt="cool headshot of me on stage"/>
        </p>

        <div class="grid">
            <figure>
                <video poster="images/lipstick.webp" controls preload="none">
                    <source src="media/lipstick.webm" type="video/webm" />
                    Sorry. Your browser does not support the WEBM video format.
                </video>
                <figcaption>&ldquo;lipstick&rdquo; by bushbaby (promo video, 2004)</figcaption>
            </figure>
            <div class="stack">
                <figure>
                    <audio controls preload="none">
                        <source src="media/tinsel_town.mp3" />
                        <source src="media/tinsel_town.ogv" />
                    </audio>
                    <figcaption>&ldquo;tinsel town&rdquo; by bushbaby (single, 2003)</figcaption>
                </figure>
                <figure>
                    <audio controls preload="none">
                        <source src="media/skinny.mp3" />
                        <source src="media/skinny.ogv" />
                    </audio>
                    <figcaption>&ldquo;skinny&rdquo; by bushbaby (single, 2002)</figcaption>
                </figure>
                <figure>
                    <audio controls preload="none">
                        <source src="media/platform_nine.mp3" />
                        <source src="media/platform_nine.ogv" />
                    </audio>
                    <figcaption>&ldquo;platform nine&rdquo; by bushbaby (from the album "space corps", 2001)</figcaption>
                </figure>
                <figure>
                    <audio controls preload="none">
                        <source src="media/dreaming_day.mp3" />
                        <source src="media/dreaming_day.ogv" />
                    </audio>
                    <figcaption>&ldquo;dreaming day&rdquo; by bushbaby (from the ep "medicine", 1999)</figcaption>
                </figure>
            </div>
        </div>

        <p class="u-center">To listen to bushbaby's full catalog, please visit our <a href="https://www.youtube.com/@bushbaby_rocks">YouTube channel</a>.</p>
    </div>
</div>

<style>
    .wrapper--fullbleed {
        background: url(/images/bg.rockstar.webp) no-repeat 50% 100% fixed;
        background-blend-mode: multiply;
        background-color: hsl(var(--color-link) / 50%);
        background-size: cover;
        padding: var(--gutter-clamp-xl);
    }

    .wrapper--fullbleed:has(:target) {
        animation: var(--animation-glow) glow;
    }

    @keyframes glow {
        0% {
            background-color: hsl(var(--color-link));
            box-shadow: inset 0 0 2rem 1rem hsl(var(--color-link) / 90%);
        }

        75% {
            box-shadow: none;
        }

        100% {
            background-color: hsl(var(--color-link) / 50%);
        }
    }

    .wrapper > .stack {
        background: hsl(var(--color-background) / 70%);
        border-radius: var(--border-radius-m);
        box-shadow: 0 0 0.75rem hsl(var(--color-background));
        padding: var(--gutter-clamp-xl);
    }

    .grid {
        --grid-gap: var(--gutter-clamp-xl);
    }
</style>
