---
import Title from '../components/Title.astro';
---

<aside class="wrapper wrapper--s wysiwyg stack">
    <Title headingLevel="2" headingText="my socials" />
    <ul>
        <li><a href="https://github.com/basher">GitHub</a></li>
        <li><a href="https://codepen.io/basherkev">Codepen</a></li>
        <li><a href="https://www.linkedin.com/in/kevbonett/">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/basherkev/">Instagram</a> for lots of nice cars and gardens!</li>
    </ul>

    <Title headingLevel="2" headingText="a11y-webring.club" id="a11y-webring-club" />
    <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>

    <nav aria-labelledby="a11y-webring-club">
        <ul>
            <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a></li>
            <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a></li>
            <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a></li>
        </ul>
    </nav>

    <Title headingLevel="2" headingText="CSS Joy webring" id="css-joy-webring" />
    <p>This site is also a member of the <a rel="external" href="https://cs.sjoy.lol/">CSS JOY webring</a>.</p>

    <nav aria-labelledby="css-joy-webring">
        <ul>
            <li><a rel="external" referrerpolicy="strict-origin" href="https://webri.ng/webring/cssjoy/previous?via=https://basher.biz">Previous website</a></li>
            <li><a rel="external" referrerpolicy="strict-origin" href="https://webri.ng/webring/cssjoy/random?via=https://basher.biz">Random website</a></li>
            <li><a rel="external" referrerpolicy="strict-origin" href="https://webri.ng/webring/cssjoy/next?via=https://basher.biz">Next website</a></li>
        </ul>
    </nav>
</aside>
