---
import type { HTMLTag } from 'astro/types';
import { Image } from 'astro:assets';
import star from '../images/star.webp';

interface Props {
    headingLevel: string;
    headingText: string;
    id?: string;
}

const { headingLevel, headingText, id } = Astro.props;
const HeadingElement = `h${headingLevel}` as HTMLTag;
---

<HeadingElement class:list={['title']} id={id}>
    <Image src={star} alt=""/>
    <span>{headingText}</span>
</HeadingElement>

<style>
    .title {
        align-items: center;
        display: flex;
        gap: var(--gutter-s);
        justify-content: center;
    }

    .title img {
        aspect-ratio: 1;
        width: 1.25em;
    }
</style>
