:root {
    --color-brand: oklch(55.46% 0.1672 245.15);
    --color-text: oklch(84.52% 0 0);
    --color-background: oklch(24.84% 0 0);
    --color-neutral-100: oklch(96.19% 0 0);
    --color-link: oklch(66.87% 0.1672 53.08);
    --color-focus: oklch(55.46% 0.1672 245.15);

    --type-font-family: 'Belgrano', serif;
    --type-font-family-title: 'Anton', sans-serif;

    --type-scale: 1.414; /* Augmented 4th */
    --type-max-line-length: 65ch;

    --type-font-size: 1.5rem;
    --type-font-size-2k: 200%; /* 2K screens */
    --type-font-size-s: calc(var(--type-font-size) / var(--type-scale));
    --type-font-size-h3: calc(var(--type-font-size) * var(--type-scale));
    --type-font-size-h2: calc(var(--type-font-size-h3) * var(--type-scale));
    --type-font-size-h1: calc(var(--type-font-size-h2) * var(--type-scale));
    --type-font-size-xl: calc(var(--type-font-size-h1) * pow(var(--type-scale), 2));

    --gutter: 1.25rem;
    --gutter-s: calc(var(--gutter) / var(--type-scale));
    --gutter-m: calc(var(--gutter) * var(--type-scale));
    --gutter-l: calc(var(--gutter-m) * var(--type-scale));
    --gutter-xl: calc(var(--gutter-l) * var(--type-scale));

    --gutter-clamp-l: clamp(var(--gutter-m), 4vw, var(--gutter-l));
    --gutter-clamp-xl: clamp(var(--gutter-l), 5vw, var(--gutter-xl));

    --animation: 150ms ease-in-out;
    --animation-glow: 1500ms linear;
    --border-radius-s: 0.125rem;
    --border-radius-m: 0.25rem;
}
