:root {
    --color-brand: oklch(55.46% 0.1672 245.15);
    --color-text: oklch(84.52% 0 0);
    --color-background: oklch(24.84% 0 0);
    --color-neutral-100: oklch(96.19% 0 0);
    --color-link: oklch(66.87% 0.1672 53.08);
    --color-focus: oklch(55.46% 0.1672 245.15);

    --type-font-family: 'Belgrano', serif;
    --type-font-family-title: 'Anton', sans-serif;

    --type-scale: 1.414; /* Augmented 4th */
    --type-max-line-length: 65ch;

    /* @link https://utopia.fyi/type/calculator?c=480,18,1.333,1440,24,1.414,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --type-step--1: clamp(0.844rem, 0.7355rem + 0.3614vw, 1.0608rem);
    --type-step-0: clamp(1.125rem, 0.9375rem + 0.625vw, 1.5rem);
    --type-step-1: clamp(1.4996rem, 1.1889rem + 1.0356vw, 2.121rem);
    --type-step-2: clamp(1.999rem, 1.499rem + 1.6668vw, 2.9991rem);
    --type-step-3: clamp(2.6647rem, 1.8766rem + 2.6268vw, 4.2407rem);

    --type-font-size: var(--type-step-0);
    --type-font-size-s: var(--type-step--1);
    --type-font-size-h3: var(--type-step-1);
    --type-font-size-h2: var(--type-step-2);
    --type-font-size-h1: var(--type-step-3);

    /* Uses largest size from --type-step-3 clamp() */
    --type-font-size-xl: calc(4.2407rem * pow(var(--type-scale), 2));

    /* 2K screens */
    --type-font-size-2k: 200%;

    --gutter: 1.25rem;
    --gutter-s: calc(var(--gutter) / var(--type-scale));
    --gutter-m: calc(var(--gutter) * var(--type-scale));
    --gutter-l: calc(var(--gutter-m) * var(--type-scale));
    --gutter-xl: calc(var(--gutter-l) * var(--type-scale));

    --gutter-clamp-l: clamp(var(--gutter), 4vw, var(--gutter-l));
    --gutter-clamp-xl: clamp(var(--gutter-m), 5vw, var(--gutter-xl));

    --animation: 150ms ease-in-out;
    --animation-slow: 500ms ease-in-out;
    --animation-glow: 1500ms linear;

    --border-width: 0.25rem;
    --border-radius-s: 0.125rem;
    --border-radius-m: 0.25rem;
    --border-radius-l: 0.5rem;

    --sticky-height: 6rem;
    --sticky-scroll: var(--sticky-height);
}
