/*
----------------------------------------------------------------------------
Grid.
----------------------------------------------------------------------------
*/
.grid {
    --grid-gap: var(--gutter-clamp-xl);
    --grid-min-width: 25rem;

    display: grid;
    gap: var(--grid-gap, 1rem);
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--grid-min-width), 100%), 1fr)
    );

    > * {
        margin: 0;
    }

    ul {
        margin-block-end: 0;
    }
}

/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
.stack {
    --stack-gutter: var(--gutter-m);

    > * + * {
        margin-block-start: var(--stack-gutter, 1em);
    }

    > * {
        margin-block-end: 0;
    }
}

.stack--gutter-s {
    --stack-gutter: var(--gutter-s);
}

.stack--gutter-l {
    --stack-gutter: var(--gutter-clamp-l);
}

.stack--gutter-xl {
    --stack-gutter: var(--gutter-clamp-xl);
}

/*
----------------------------------------------------------------------------
Prose.
----------------------------------------------------------------------------
*/
.prose {
    &.stack {
        --stack-gutter: 1.5em;
    }

    :where(h1 + h2, h2 + h3) {
        --stack-gutter: 0;
    }
}

/*
----------------------------------------------------------------------------
Wrapper.
----------------------------------------------------------------------------
*/
.wrapper {
    --wrapper-max-width: 65rem;

    margin-inline: auto;
    max-inline-size: var(--wrapper-max-width);
    padding-inline: var(--gutter-m);
}

.wrapper--s {
    --wrapper-max-width: 48rem;
}

.wrapper--l {
    --wrapper-max-width: 90rem;
}

.wrapper--fullbleed {
    --wrapper-max-width: 100vw;

    padding-inline: 0;
}

.wrapper--fit-content {
    --wrapper-max-width: unset;

    inline-size: fit-content;
}

/*
----------------------------------------------------------------------------
Page.
----------------------------------------------------------------------------
*/
.page {
    display: grid;
    gap: var(--gutter-clamp-xl);
    grid-template-rows: auto 1fr auto auto;
    margin-inline: auto;
    min-block-size: 100vh;
}

.main {
    overflow-x: hidden;
}
