/*
----------------------------------------------------------------------------
Apply skin (or "theming" layer) to components.
----------------------------------------------------------------------------
*/
.skin-1 {
    --skin-gutter-offset: var(--gutter-xl);

    background: hsl(var(--color-brand) / 12%);
    margin-block: var(--skin-gutter-offset);
    padding: var(--gutter-clamp-xl);
    position: relative;

    &::before,
    &::after {
        background-color: hsl(var(--color-brand) / 12%);
        clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%);
        content: '';
        display: block;
        inline-size: 100%;
        inset-inline-start: 0;
        padding-block-start: var(--skin-gutter-offset);
        position: absolute;
    }

    &::before {
        inset-block-end: 100%;
    }

    &::after {
        inset-block-start: 100%;
        transform: rotate(180deg);
    }
}
