/*
----------------------------------------------------------------------------
Apply skin (or "theming" layer) to components.
----------------------------------------------------------------------------
*/
.skin-1 {
    --skin-gutter-offset: var(--gutter);
    --skin-pseudo-offset: 1%;

    background: oklch(from var(--color-brand) l c h / 12%);
    border-radius: var(--border-radius-l) 0;
    box-shadow: inset 0 0 0.75rem 0.25rem oklch(from var(--color-brand) l c h / 45%);
    margin-block: var(--skin-gutter-offset);
    padding: var(--skin-gutter-offset);
    position: relative;

    &::before,
    &::after {
        background-color: oklch(from var(--color-brand) l c h / 12%);
        box-shadow: inset 0 0 0.75rem 0.0625rem oklch(from var(--color-brand) l c h / 35%);
        clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%);
        content: '';
        display: block;
        inline-size: calc(100% - var(--skin-pseudo-offset));
        padding-block-start: var(--skin-gutter-offset);
        position: absolute;
    }

    &::before {
        inset-block-end: 100%;
        inset-inline-start: 0;
    }

    &::after {
        inset-block-start: 100%;
        inset-inline-start: var(--skin-pseudo-offset);
        transform: rotate(180deg);
    }
}
