/*
----------------------------------------------------------------------------
Utilities.
----------------------------------------------------------------------------
*/
.u-brand {
    color: hsl(var(--color-brand));
}

/*
----------------------------------------------------------------------------
Center content.

Setting auto margins on direct children without a CSS classname ensures that typographic elements whose max width is constrained by "--type-max-line-length" will be correctly centered.
----------------------------------------------------------------------------
*/
.u-center {
    text-align: center;

    > :not([class]) {
        margin-inline: auto;
    }
  }

/*
----------------------------------------------------------------------------
Margins.
----------------------------------------------------------------------------
*/
[class*='u-m-block'] {
    --marg-block-gutter: var(--gutter-m);

    margin-block: var(--marg-block-gutter, 1rem);
}

[class*='u-m-inline'] {
    --marg-inline-gutter: var(--gutter-m);

    margin-inline: var(--marg-inline-gutter, 1rem);
}

.u-m-block--s {
    --marg-block-gutter: var(--gutter-s);
}

.u-m-block--l {
    --marg-block-gutter: var(--gutter-clamp-l);
}

.u-m-block--xl {
    --marg-block-gutter: var(--gutter-clamp-xl);
}

.u-m-inline--s {
    --marg-inline-gutter: var(--gutter-s);
}

.u-m-inline--l {
    --marg-inline-gutter: var(--gutter-clamp-l);
}

.u-m-inline--xl {
    --marg-inline-gutter: var(--gutter-clamp-xl);
}

/*
----------------------------------------------------------------------------
Padding.
----------------------------------------------------------------------------
*/
[class*='u-p-block'] {
    --pad-block-gutter: var(--gutter-m);

    padding-block: var(--pad-block-gutter, 1rem);
}

[class*='u-p-inline'] {
    --pad-inline-gutter: var(--gutter-m);

    padding-inline: var(--pad-inline-gutter, 1rem);
}

.u-p-block--s {
    --pad-block-gutter: var(--gutter-s);
}

.u-p-block--l {
    --pad-block-gutter: var(--gutter-clamp-l);
}

.u-p-block--xl {
    --pad-block-gutter: var(--gutter-clamp-xl);
}

.u-p-inline--s {
    --pad-inline-gutter: var(--gutter-s);
}

.u-p-inline--l {
    --pad-inline-gutter: var(--gutter-clamp-l);
}

.u-p-inline--xl {
    --pad-inline-gutter: var(--gutter-clamp-xl);
}
