---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="front-end web developer & accessibility advocate">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <div class="page">
            <header class="header">
                <a href="/">
                    <img src="/logo.png" alt="basher home" />
                </a>
            </header>

            <slot />

            <footer class="footer wrapper wrapper--s">
                <p class="small">&copy;2023 basher.</p>
            </footer>
        </div>
    </body>
</html>
